<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>
        $.ajax({
            type:"GET",
            url: "http://localhost:8080/cors/ajax",
            dataType:"json",
            success:function(data){
                console.log(data);
            },
            error:function(){
                console.log("Error: ");
            }
        });
    </script>
</head>
<body>
hello cors.html
</body>
</html>